.Rhistory
.RData
.Ruserdata
.RDataTmp1
.Rproj.user
db10_20.rds
.RDataTmp2
.RDataTmp4
.RDataTmp5
.RDataTmp3
.Rhistory
.RDataTmp6
.RDataTmp7
.RDataTmp8
.RDataTmp9
.RDataTmp10
.RDataTmp12
.RDataTmp13
.RDataTmp14
.RDataTmp15
.RDataTmp16
.RDataTmp17